.header{
    border-radius: 40px;
    font-family: Impact, sans-serif;
    font-size: clamp(0.1rem, calc(0.1rem + 4vw) , 2rem);
    text-align: center;
    color: white;
    -webkit-text-stroke: 1px #5c5e5d;
    width: 100%;
    text-wrap: balance;
    margin: 0 auto clamp(5px, 0.62vw, 10px);}
