input{
    border-radius: 20px;
    border-width: 1px;
    padding: 4px;
    width: 100%;
}

.login-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login {
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-self: center;
    width: min(100%, 600px);
    margin-left: auto;
    margin-right: auto;
}